.dropdown-button {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
}

.dropdown-list.show {
    display: block;
}
